
<div class="container" style="color: white; margin-top: 15%; margin-bottom: 70%; " >
		<div class="row">
			<div class="col s12" align="center">
				<h3>Terms & Conditions</h3>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<h4>Mission Statement</h4>
				<h6>Mission statement: 
To build a everlasting relationship with every customer we come into contact with, By giving EXCELLENT Services, constant EVOLUTION, deliver nothing but EXCELLENCE 
vision. 
Every second is precious how you spend your time is important. Our goal is to free up your time to make priceless.

 </h6>
 <h4>
 Policy	
 </h4>
<h6>
	All appointment must be scheduled a week prior 48 hour termination notice or a 10% fee appointment will be charged.
</h6>
			</div>
		</div>
</div>
