
<div class="container" style="color: white; margin-top: 15%; margin-bottom: 70%; " >
		<div class="row">
			<div class="col s12" align="center">
				<h3>Terms & Conditions</h3>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<p>Lorem ipsum dolor amet bespoke pok pok celiac jianbing, live-edge austin microdosing skateboard blog food truck adaptogen flexitarian enamel pin banh mi. Pinterest quinoa raclette, health goth la croix intelligentsia hell of craft beer tote bag copper mug wayfarers hot chicken man bun swag hashtag. Meh hella cloud bread small batch forage succulents ethical tattooed banh mi jianbing shoreditch tumblr. Kogi tumblr taxidermy, retro raclette chicharrones YOLO before they sold out jean shorts skateboard four loko heirloom hell of. Craft beer selvage poke etsy photo booth.
				</p>
			</div>
		</div>
</div>
